<p> <a href="/">Back</a> </p>
<h1>Show Page for <%= @pokemon.name %></h1>
<p> <a href="/<%= @pokemon.id %>/edit">Edit</a> </p>
<p>Dex No #<%= @pokemon.dex_num %></p>
<p>Dex Entry: <%= @pokemon.dex_entry %></p>
<p>Type: <%= @pokemon.type_primary %> <%= @pokemon.type_secondary %></p>
